* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 120px;
  height: 31px;
  background: url(../images/douban.png) no-repeat;
  background-size: 100% 100%;
  background-color: #fff;
  margin: 16px 24px 16px 0;
  float: left;
}
