<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>局部注册</title>
    <script src="../lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <login  v-for="(item, i) in list" :key="i" :test="test"></login>
        <login></login>
        <register></register>
    </div>
    <script>
        var login1 = {
            template: '<h1>登录{{test}}</h1>',
            data(){
                return {
                    hh: 'dasdsad'
                }
            },
            props: ['test']
        }
        var register = {
            template: '<h1 @click="click">{{hh}}</h1>',
            data() {
                return {
                    hh: '哈哈'
                }
            }, 
            methods: {
                click(){
                    console.log(123)
                }
            }
        }
        var vm = new Vue({
            el: '#app',
            data: {
                list: [1,2,3],
                test:'123'
            },
            methods: {},
            components: {
                'login': login1,
                register
            }
        })
    </script>
</body>

</html>