<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <p>{{ msg }}</p>
        <p>遍历数组</p>
        <ul>
            <li v-for="(item, i) in arrList" :key="i">{{ item }}</li>
        </ul>
        <p>遍历对象的属性</p>
        <ul>
            <li v-for="(b, a, i) in objList">{{i}}--{{ a }}--- {{b}}</li>
        </ul>
        <p>遍历数字</p>
        <p v-for="i in 5">{{i}}</p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                arrList: ['张三', '李四', '前五', '斗胆'],
                objList:{
                    name: '张三',
                    age: 19
                },
                msg: 'hello'

            },
            methods: {}
        })    
    </script>
</body>

</html>